pynput
selenium
roboflow
pywinctl
mss
pillow>=10.0.1
vidgear
torch
accelerate>=0.25.0
transformers
IPython
lxml
pyautogui
ultralytics
supergradients
supervision
selenium
openai
numpy
tqdm
moviepy
playwright
gdown
py7zr
git+https://github.com/facebookresearch/detectron2.git
SwissArmyTransformer>=0.4.9
xformers>=0.0.22
torchvision>=0.16.2
spacy>=3.6.0
deepspeed>=0.11.0
seaborn>=0.13.0
loguru~=0.7.2
timm>=0.9.12
pydantic>=2.5.2
sentencepiece
einops
timm
dirtyjson